
/* Product Detail */
.product-detail {
    display: grid;
    margin: 0 auto;
    column-gap: 2rem;
    grid-template-columns: 3fr 6fr;
    padding: 2rem;
    height: 100%;

  }
  
  .product-detail > img {
    align-self: center;
  }
  
  .product-detail__side {
    position: relative;
    display: grid;
    /* grid-template-rows: 20% auto; */
    align-content: start;
    padding-left: 1rem;
    border-left: 2px solid;
    
  }
  
  .product-detail__side h3 {
    align-self: start;
    
  }
  
  .product-detail__side h2 {
    margin: 1rem 0;
  }
  
  .product-detail__side p {
    max-width: 50%;
    max-height: 150ch;
    margin-top: 1rem;
    overflow-y: hidden;
    text-overflow: ellipsis;
  }