body{
    color: #1a202c;
    text-align: left;
    background-color: #e2e8f0;    
}
.main-body {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 0.5fr));
  align-items: center;
  justify-items: center;
  overflow: hidden;
  margin-top: 0.5rem;
}

.card{
    display: grid;
    height: 300px;
    place-items: center;
    text-align: center;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
    border: 1px solid lightgray;
    background-color: white;
    width: 18rem;
}

.users_list_item{
  text-decoration: none;
  color: black;
}
